// newpost.component.scss

@import '../../assets/styles/variables';
@import '../../assets/styles/quill1';

// Host Styles
:host {
  display: block;
  width: 100%;
  height: 100%;
}

// Mat-Card Styles
mat-card {
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  // overflow-y: auto !important;



  mat-card-content {
    flex: 1;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    overflow-y: auto;
    margin-bottom: 0; // Remove default margin
    // padding-bottom: 30px; // Add padding to create space above actions
  

    form {
      display: flex;
      flex: 1;
      flex-direction: column;
      // overflow-y: auto !important;
      height: 100%;
      min-height: min-content; // Ensures form takes minimum required height

    }
  }

  mat-expansion-panel {
    overflow: visible !important;
    flex: 0 0 auto; // Prevent expansion panel from shrinking
  }
  
}

// Form Field Styles
mat-form-field.title-field {
  ::ng-deep {
    .mat-mdc-form-field-infix {
      font-size: 20px;
    }
    .mat-mdc-input-element {
      color: $primary-text-color;
    }
  }
}

.exp-container {
  flex: 1;
  display: flex;
  flex-direction: column ;
  gap: 6px;
  overflow: hidden;
  overflow-y: auto;


  mat-form-field {
    flex-shrink: 0;

    &:first-of-type {
      margin-top: 8px;
    }
  }
}




.form-container {
  flex: 1;
  display: flex;
  flex-direction: column ;
  gap: 6px;
  overflow: hidden;

  mat-form-field {
    flex-shrink: 0;

    &:first-of-type {
      margin-top: 8px;
    }

    ::ng-deep {
      .mat-mdc-form-field-focus-overlay {
        opacity: 0;
      }

      &:not(.mat-focused):hover {
        .mdc-notched-outline__leading,
        .mdc-notched-outline__notch,
        .mdc-notched-outline__trailing {
          border-color: $hover-color !important;
          border-width: 1.5px;
        }
      }

      &.mat-focused {
        .mdc-notched-outline__leading,
        .mdc-notched-outline__notch,
        .mdc-notched-outline__trailing {
          border-color: $hover-color !important;
          border-width: 2px;
        }
        .mdc-floating-label {
          color: $hover-color !important;
        }
      }
    }
  }
}

// Editor Styles
.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  // flex-direction: column;
  // overflow: visible; // Ensure tooltips are visible
  // border: 1px solid $border-color;
  // border-radius: 4px;
  // transition: border-color 0.2s ease;
  min-height: 0; // This is important for flex child scrolling
  max-height: calc(100vh - 200px); // Adjust the subtracted value based on your layout
  padding-bottom: 30px; 


  &:hover {
    border-color: $hover-color;
  }

  &.focused {
    border-color: $hover-color;
    border-width: 2px;
  }

}  // <--------------------




// } <--------------------






// Error Styles
mat-error {
  font-size: 12px;
  color: $error-color;
}

mat-card-actions {
  flex: 0 0 auto; // Prevent actions from shrinking or growing
  padding: 8px;
  margin: 0; // Remove default margins
}

.mat-card-edit-title {
  font-size: x-large;
  color: $primary-text-color;
  margin-bottom: 10px;
}

// Expansion Panel Styles
::ng-deep .mat-expansion-panel.mat-expanded .mat-expansion-panel-header:hover {
  background-color: rgba(224, 227, 226, 0.08);
}

::ng-deep .mat-expansion-panel-header-title {
  color: darkgrey;
}
