// src/assets/styles/_variables.scss

// Color Variables
$primary-text-color: burlywood;
$hover-color: #00B4FF;
$border-color: #404040;
$background-dark: #2b2b2b;
$scrollbar-thumb: #888;
$scrollbar-thumb-hover: #555;
$error-color: crimson;
$ql-toolbar-color: azure;
$expansion-panel-hover-color: rgba(224, 227, 226, .08);
$expansion-panel-header-title-color: darkgrey;

$tooltip-bg: #213664;
$tooltip-color: white;